@model rector_blog.Models.CommentModels

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CommentModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BlogPostModels.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlogPostModels.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_reply_to_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_reply_to_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
